// COLORS
$color-primary: #000;
$hover-color: #bac34e;
$color-border: #aaa;
$color-modal: #0a472e;
$color-white: #fff;
// Container
$width-container: 1320px;
$p-container: 15px;

// FONTS
$font-mazzard-normal: 'Mazzard Soft H';
$font-mazzard-richmond: 'Greatest Richmond';
$font-hero: 'Shadows Into Light', cursive;
